
$navHeight: 55px;
$mainColor: #0f374f;
$trimColor: #f15a24;

@font-face {
    font-family: 'League Spartan Bold';
    font-style: normal;
    font-weight: normal;
    src: local('League Spartan Bold'), url('LeagueSpartan-Bold.woff') format('woff');
}

// Global styling •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Always force (mandatory) scrolling to a snap point on the y-axis */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 55px;
}

h1 {
  font-family: 'League Spartan Bold';
  text-transform: uppercase;
  font-size: 50px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'League Spartan Bold';
}

h3 {
  font-family: 'League Spartan Bold';
  text-transform: uppercase;
  font-size: 22px;
}

h4 {
  text-transform: uppercase;
  font-size: 15px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(196, 196, 196), rgba(0, 0, 0, 0));

    &.experience-hr {
      background: $trimColor;
    }
}

.text-color {
  color: $trimColor;
  font-size: 1em;
}
.section {
    padding: 2rem 1.5rem;
}

a.contact-icons:visited  {
    color: #4a4a4a;
  }

.is-centered { text-align: center;}

// landing page animations •••••••••••••••••••••••••••••••••••••••••••••••••••••••

#name-home-hero {
  position :relative;
  -webkit-animation: mymove 1.3s; /* Safari 4.0 - 8.0 */
  animation: mymove 1.3s;
  line-height: 40px;
  // text-align: center;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {left: -500px;}
  to {left: 0px;}
}

/* Standard syntax */
@keyframes mymove {
  from {left: -500px;}
  to {left: 0px;}
}

/* sub heading Animation */


#logo-sub {
    margin-left: 30px;
    border-right: 4px solid $trimColor;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter{
  animation: typewriter 2.2s steps(13) 1 normal both, blinkTextCursor 500ms steps(20) infinite normal;
  animation-delay: 1.2s;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 9em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: $trimColor;}
  to{border-right-color: transparent;}
}


// chevron bounce

#scroll-chevron {
  text-align: center;
  font-size: 35px;
  color: $trimColor;
  position: relative;
  bottom: 10px;
  bottom: -312px;
}


.bounce {
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

// •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••




// nav •••••••••••••••••••••••••••••••••••••••••••••••••••••••••


// nav menu display none when large screen
.skip {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: $mainColor;
  transition: transform 0.5s;
  font-family: 'League Spartan Bold';
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

  a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    margin: 0;

  }
  a:hover{
    color: white;
    border-bottom: 4px solid $trimColor;
    border-top: 4px solid $trimColor;
    padding-top: 12px;
    padding-bottom: 9px;

  }

  .nav-logo {
    max-width: 350px;
    margin-top: 15px;
    margin-left: 15px;
    a {
      color: white;
      padding: 0;
      &:hover {
        border-bottom: none;
        border-top: none;
      }
    }
  }

  ul {
    padding-right: 15px;
    padding-top: 4px;
    margin: 0;
    li {
      display: inline;
    }
  }
}


// About Section •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

.about-headers {
  text-align: center;
}

#about {
  background-color: #fafafa;
}

#about-icons {
  font-size: 42px;
}

#svelte-image {
  height: 44px;
}

#new-text {
  margin-top: 0.6rem;
  width: 7rem;
}

#codewars-image {
  width: 55px;
  height: 66px;
}





// Projects section ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

.project-paragraph {
  padding-bottom: 10px;
}

.tech-icons-section {
  background-color: #fafafa;
}

.interests-section {
  background-color: $mainColor;
  color: white;
}

.projects-section {
  background-color: white;
}

.edmiston-images {
  width: 15rem;
  padding: 0.3rem;
  margin: 0.2rem;
  border: 1px solid $trimColor;
}

.column.is-two-thirds.edmiston {
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}


.button {
  background-color: $mainColor;
  color: #fafafa;
  margin: 5px;

  font-size: 20px;
  height: 1.7em;

  span {
    margin-left: 10px;
    font-size: 16px;
  }

  &:hover {
    color: white;
    background-color:$trimColor;
  }
}


// Experience section ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••¶
#ga-logo {
  width: 350px;
  // margin-top: 25px;
}

#edmiston-logo {
  width: 350px;

}

.imac-image {
  max-width: 80%;
}

.iphone-image {
  max-width: 80%;
}
.experience-section {
  background-color: $mainColor;
  color: white;
}


.tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  .tech-icons {
    font-size: 16px;
  }
  li {
    display: flex;
    flex-direction: column;
    height: 105px;
    color: #4a4a4a;
    padding: 6px;
    width: 105px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 42px;

    img {
      height: 42px;
    }
  }
}


// contact section ••••••••••••••••••••••••••••••••••••••••••••••••••••••

.contact-icons {
  color: #4a4a4a;
  padding: 6px;
  margin: 4px;
  font-size: 42px;
}

#profile-pic {
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.09);
}

.button:focus {
  color: white;
}


// interests section •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
div.interests-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.interests-list div {
  font-size: 32px;
  text-align: center;
}

.interests-icons {
  font-size: 17px;
}

.columns {
    margin-top: 0.75rem;
}


// footer •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
.footer {
  padding: 2rem 1.5rem 2rem;
  background-color: #272727;
}




























// media queries ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

@media all and (max-width: 775px) {

  #scroll-chevron {
    bottom: -250px;
  }


  // mobile nav menu dropdown
  $navHeight: 50px;

  svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
    font-size: 24px;
  }



  nav {
    height: $navHeight;
    .nav-logo {
      max-width: 130px;
    }
    .skip{
      transition: transform 0.5s;
      margin-right: 20px;
      display: block;

    }
  }




  // mobile nav dropdown meny when open
  nav.open {
    .skip{
      transform: rotate(180deg);
      transition: transform 0.5s;
      margin-bottom: 9px;
    }
    ul {
      max-height: 30em;
      border-bottom: 4px solid $trimColor;
      border-left: 4px solid $trimColor;
    }
  }

  /* Hide and position the closed .nav ul */
  nav ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: $navHeight;
    transition: max-height 0.5s ease;
    padding: 0;
  }

  /* Style the list items to appear under the menu link */
  nav ul li {
    text-align: right;
    display: block;
  }

  nav li a {
    display: block;
    background-color: $mainColor;
  }

  nav a:hover {
    border-bottom: 0;
    border-top: 0;
    padding: 15px 10px;
  }

  // mobile nav dropdown hover highlight
  #menu :hover {
    background-color:$trimColor;
  }

  // •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

  html {
    scroll-padding-top: 50px;
  }

  h1 {
    font-family: 'League Spartan Bold';
    text-transform: uppercase;
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }

  .text-color {
    color: #f15a24;
    font-size: 0.9em;
  }

  #logo-sub {
    margin-left: 18px;
  }

  #ga-logo {
    width: 200px;
    margin-top: 25px;
  }
  #edmiston-logo {
    width: 200px;
    margin-top: 25px;
  }



  .tech-list li {
    height: 95px;
    padding: 0;
    width: 95px;
    margin: 0 auto;
    font-size: 42px;
  }

}  // closing media q bracket




@media all and (max-width: 420px) {
  #scroll-chevron {
    bottom: -150px;
  }
}
@media all and (max-width: 320px) {
  #scroll-chevron {
    bottom: -130px;
  }
}
