@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Nanum Gothic', sans-serif;
}



h1, h2 {
  font-weight: normal;
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
  &:visited {
    color: #4a4a4a;
  }
}




.tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  // justify-content: space-between;
    .tech-icons {
    font-size: 17px;
    }

    li {
      display: flex;
      flex-direction: column;
      height: 120px;
      color: #4a4a4a;
      padding: 6px;
      width: 120px;
      border-radius: 4px;
      margin: 4px;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 42px;

      img {
        height: 42px;
        color: #4a4a4a;
      }
    }
}


// .contact-section {
//   border-top: 2px solid #fafafa;
// }

.tech-icons-section {
  background-color: #fafafa;
}

.interests-section {
  background-color: maroon;
  color: white;
}



#profile-pic {
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.09);
}


.contact-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;


    .tech-icons {
    font-size: 17px;
    margin-left: 10px;
    }

    a {
      display: flex;
      align-items: center;
      &.mail-icon {
        font-size: 38px;
      }

      &:hover {
        color: maroon;
      }
    }

    li {
      color: #4a4a4a;
      padding: 6px;
      border-radius: 4px;
      margin: 4px;
      font-size: 42px;


      }
}

#ga-logo {
  width: 200px;
}
#treble-clef {
  width: 20px;
}




div.interests-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.interests-list div {
  font-size: 42px;
  text-align: center;
}

.interests-icons {
  font-size: 17px;
}

    // &.interests-icons {
    // font-size: 17px;
    // margin-top: 22px;
    // }

    // div {
    //   display: flex;
    //   flex-direction: column;
    //   // height: 120px;
    //   color: white;
    //   padding: 6px;
    //   // width: 25%;
    //   border-radius: 4px;
    //   margin: 4px;
    //   text-align: center;
    //   align-items: center;
    //   font-size: 42px;
    // }
