
$navHeight: 55px;
$mainColor: #0f374f;
$trimColor: #f15a24;

@font-face {
    font-family: 'League Spartan Bold';
    font-style: normal;
    font-weight: normal;
    src: local('League Spartan Bold'), url('LeagueSpartan-Bold.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 55px;
}



h1 {
  font-family: 'League Spartan Bold';
  text-transform: uppercase;
  font-size: 50px;
}



h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'League Spartan Bold';
}
h3 {
  font-family: 'League Spartan Bold';
  text-transform: uppercase;
  font-size: 22px;
}
h4 {
  // font-family: 'League Spartan Bold';
  text-transform: uppercase;
  font-size: 15px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(196, 196, 196), rgba(0, 0, 0, 0));
}

.text-color {
  color: #f15a24;
  font-size: 1em;
}
.section {
    padding: 2rem 1.5rem;
}

a.contact-icons:visited  {
    color: #4a4a4a;
  }





.button {
  background-color: $mainColor;
  color: #fafafa;
  margin: 5px;

  font-size: 20px;
  height: 1.7em;

  span {
    margin-left: 10px;
    font-size: 16px;
  }

  &:hover {
    color: white;
    background-color:$trimColor;
  }


}





.skip {
  display: none;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: $mainColor;
  transition: transform 0.5s;
  font-family: 'League Spartan Bold';
  text-transform: uppercase;
  // border-bottom: 2px solid $trimColor;


  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

  a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    margin: 0;

  }
  a:hover{
    color: white;
    border-bottom: 4px solid $trimColor;
    border-top: 4px solid $trimColor;
    padding-top: 12px;
    padding-bottom: 9px;

  }

  .nav-logo {

    max-width: 350px;
    margin-top: 15px;
    margin-left: 15px;
    // font-size: 30px;
    //
    a {
      color: white;
      padding: 0;
      &:hover {
        border-bottom: none;
        border-top: none;
      }
    }

  }

  ul {
    padding-right: 15px;
    padding-top: 4px;
    margin: 0;
    li {
      display: inline;
      // margin: 10px;

    }
  }
}







.footer {
  padding: 2rem 1.5rem 2rem;
  background-color: #272727;
}




.tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  // justify-content: space-between;
    .tech-icons {
    font-size: 16px;
    }

    li {
      display: flex;
      flex-direction: column;
      height: 105px;
      color: #4a4a4a;
      padding: 6px;
      width: 105px;
      margin: 2px;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 42px;

      img {
        height: 42px;
        color: #4a4a4a;
      }
    }
}

// a.contact-icons:hover {
//   border-bottom: 4px solid $trimColor;
//   border-top: 4px solid $trimColor;
//   padding-top: 4px;
//   padding-bottom: 4px;
// }
.contact-section {
  // border-bottom: 2px solid $trimColor;
  // border-top: 3px solid $trimColor;
}

.tech-icons-section {
  background-color: #fafafa;

}

.interests-section {
  background-color: $mainColor;
  color: white;
  // border-top: 3px solid $trimColor;
}

.projects-section {
  background-color: white;
  // border-top: 3px solid $trimColor;

}

.experience-section {
  background-color: $mainColor;
  // border-top: 3px solid $trimColor;
  color: white;
}

#about {
  // border-top: 3px solid $trimColor;
  background-color: #fafafa;
}



  .contact-icons {
      color: #4a4a4a;
      padding: 6px;
      margin: 4px;
      font-size: 42px;
    }


#logo-sub {
  margin-left: 30px;
}

#profile-pic {
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.09);
}

#ga-logo {
  width: 350px;
  margin-top: 25px;
}

.imac-image {
  max-width: 80%;
}

.iphone-image {
  max-width: 80%;
}

.button:focus {
  color: white;
}



div.interests-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.interests-list div {
  font-size: 32px;
  text-align: center;
}

.interests-icons {
  font-size: 17px;
}



.project-paragraph {
  padding-bottom: 10px;
}

.columns {
    margin-top: 0.75rem;
}
































@media all and (max-width: 775px) {

  #logo-sub {
    margin-left: 18px;
  }

  h1 {
    font-family: 'League Spartan Bold';
    text-transform: uppercase;
    font-size: 30px;
  }

  .text-color {
    color: #f15a24;
    font-size: 0.9em;
  }


  #ga-logo {
    width: 200px;
    margin-top: 25px;
  }

  html {
    scroll-padding-top: 50px;
  }


  .tech-list li {
    height: 95px;
    padding: 0;
    width: 95px;
    margin: 0;
    font-size: 42px;

  }

  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }


  .skip {
    display: block;
    margin: 15px;

  }

  $navHeight: 50px;

  nav {
    height: $navHeight;
    .nav-logo {
      max-width: 130px;
    }
  }
  /* Give the .nav ul a height when it's been opened, i.e. make it show */
  nav.open {
    ul {
      max-height: 30em;
      border-bottom: 4px solid $trimColor;
      border-left: 4px solid $trimColor;
    }
  }

  /* Hide and position the closed .nav ul */
  nav ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: $navHeight;
    // transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease;
    padding: 0;
  }

  /* Style the list items to appear under the menu link */
  nav ul li {
    text-align: right;
    display: block;
  }

  nav li a {
    display: block;
    background-color: $mainColor;
    }

    nav a:hover {
      border-bottom: 0;
      border-top: 0;
      padding: 15px 10px;

    }

#menu :hover {
  background-color:$trimColor;
}
}
